<title> B4iGo - Edit User </title>
<h1>Edit User</h1>
<div>
  <%= form_tag "/users/#{@user.id}", method: :patch do %>
    <div>
      <p><%= label_tag :firstname %>
      <%= text_field_tag :firstname, @user.firstname.capitalize %> </p>
      <p><%= label_tag :lastname %>
      <%= text_field_tag :lastname, @user.lastname.capitalize %> </p>
      <p><%= label_tag :email %>
      <%= text_field_tag :email, @user.email %> </p>
      <%= submit_tag "Update User Details" %>
    </div>
  <% end %>
</div>
<% if @addresses.length >= 1 %>
  <div>
    <h3> Your existing addresses </h3>
    <% @addresses.each do |address|  %> 
      <p> <b>Label:</b> <%= address.label.capitalize %></p> 
      <p> Street: <%= address.street.capitalize %></p>
      <p> State: <%= address.city.capitalize %>, <%= address.state.capitalize %></p>
      <%= form_tag "/addresses/" + address.id.to_s, method: :delete do %>
      <input type="submit" value="Remove Entry">
      <% end %> 
    <br>
    <% end %>
  </div>
<% end %>
<div> 
  <a href="/addresses/new"> <button>New Address</button> </a>
</div>
<div>
  <a href="/"> <button>Return to Main</button> </a>
</div>
