<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZx7TZuSm5GFaWsEVQZ2BqVvkEO5r2vY8&libraries=places"></script>
<body class="signin-page">
  <div class="wrapper">
    <div class="call-to-action-signup my-4">
      <div class="container">
          <h3> Enter an Address </h3>
          <%= form_tag "/addresses", :class => "form-inline justify-content-center", method: :post do %>
            <div class="form-group">
              <%= label_tag :Address %>
              <%= text_field_tag :location, nil, :class => "form-control", :id => 'inputadasd' %>
            </div>
            <div class="form-group">
              <%= label_tag :Label %>
              <%= text_field_tag :label, nil, :class => "form-control" %>
            </div>
            <div>
            <%= button_tag "Submit Address", :class => "btn-shadow btn-shadow-primary" %>
            </div>
            
            <div class="w-75 pr-2 "> Must have at least two addresses saved.</div>
        <% end %>
      </div>
    </div>
  </div>
</body>
