<!DOCTYPE html>
<html>
  <head>
    <title>B4igo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Alert Begins -->
    <% flash.each do |key, message| %>
    <%= message %>
    <% end %>
    <!-- Alert Ends -->

    <%= yield %>
  </body>
</html>
