<!DOCTYPE html>
<html>
  <head>
    <title>B4igo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- include jQuery and Tether (both required for Bootstrap 4) and the theme JS file -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="/dist/theme.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>B4iGo</title>
    <!-- Bootstrap CSS file -->
    <link rel="stylesheet" type="text/css" href="/scss/bootstrap/bootstrap.css" />
    <!-- Theme CSS file -->
    <link rel="stylesheet" type="text/css" href="/dist/theme.min.css" />
    
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-toggleable-md" role="navigation">
    <div class="container no-override">
      <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <a class="navbar-brand" href="/">
        <img src="/images/logo-alt-w.png" class="hidden-md-down d-inline mr-2 w-25" />
        B4iGo
      </a>

      <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
        <ul class="navbar-nav">
          <% if !current_user %>
              <li class="nav-item">
                <a class="nav-link" href="/login">
                Sign In
                </a>
              </li>
          <% else %>
              <li class="nav-item">
                <a class="nav-link" href="/"> 
                Main 
                </a>
              </li>              
              <li class="nav-item">
                <a class="nav-link nav-link--rounded" href="/users/<%= current_user.id %>/edit"> 
                Preferences 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">
                Sign Out - <%= current_user.firstname.capitalize %> 
                </a>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
   
<% flash.each do |key, message| %>
    <div class="alert alert-<%= key %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button> <%= message %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>